<div class="content">
  <div class="card-login">
    <div class="card-header bg-usco-vt header-usco-card">
      <div class="row">
        <div class="col">
          <img
            title="USCO"
            mat-card-image
            src="assets/universidad-surcolombiana-multicampos-white.png"
            class="img-fluid"
          />
        </div>
      </div>
      <hr class="punteada" />
      <div class="row">
        <div class="col p-3">
          <h6 class="font-weight-bold text-white">DIGITURNO CITCD</h6>
        </div>
      </div>
    </div>
    <div class="card-body text-center font-usco-gr">
      <div class="container">
        <form [formGroup]="formLogin">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <span matPrefix class="mr-2"
                  ><i class="fa-solid fa-envelope"></i
                ></span>
                <mat-label>Correo</mat-label>
                <input
                  matInput
                  formControlName="correo"
                  name="correo"
                  autocomplete="off"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <span matPrefix class="mr-2"
                  ><i class="fa-solid fa-lock"></i
                ></span>
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="contrasenia"
                  type="password"
                  name="password"
                  placeholder="Digite la clave"
                  autocomplete="off"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col mt-3 mb-4">
              <button
                (click)="login()"
                type="submit"
                class="btn btn-usco-vt"
                [disabled]="!formLogin.valid"
              >
                Ingresar
                <span
                  *ngIf="cargando"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col mb-4">
              <a href="https://www.usco.edu.co/cambio_clave/" target="_blank"
                ><small class="font-usco-vt font-weight-bold"
                  >¿Olvidó su contraseña?</small
                ></a
              >
            </div>
          </div>
          <div>
            <small
              ><b class="version"
                >© {{ today | date : "yyyy" }} CITCD - Versión 1 Construcción
                1.0</b
              ></small
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
